@import 'variables.scss';
@mixin background-text($color:'white') {
  @each $name, $size in $colors {
    &[color='#{$name}'] {
      background-color: map-get($colors, $name);
      @if $name == 'white' {
        color: map-get($colors, 'dark') !important;
      } @else {
        color: map-get($colors, 'white') !important;
      }
      &:hover {
        background-color: darken(map-get($colors, $name), 10%);
      }
    }
  }
}
